[Desktop Entry]
Version=1.0
GenericName=Olivia
Name=Olivia
Type=Application
Icon=olivia
Keywords=Music Player;itunes;spotify
Exec=olivia %F
Categories=AudioVideo;Player;Qt;Audio;
Terminal=false
